<h1 mat-dialog-title *ngIf="data.create">Enter a new task</h1>
<h1 mat-dialog-title *ngIf="!data.create">Update a task</h1>
<div mat-dialog-content>
    <p>Enter a title for the task</p>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
            <mat-error *ngIf="form.controls['title'].invalid">Title Required</mat-error>
        </mat-form-field>
        <p>Enter a description for the task</p>
        <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea cdkTextareaAutosize cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5" matInput formControlName="description"></textarea>
            <mat-error *ngIf="form.controls['description'].invalid">Description Required</mat-error>
        </mat-form-field>
        <p>Choose when the task is due</p>
        <mat-form-field>
            <mat-label>Choose a date</mat-label>
            <mat-hint>MM/DD/YYYY</mat-hint>
            <input matInput [matDatepicker]="dueDate" formControlName="due">
            <mat-datepicker-toggle matIconSuffix [for]="dueDate"></mat-datepicker-toggle>
            <mat-datepicker #dueDate></mat-datepicker>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="save()" [disabled]="!form.valid" *ngIf="data.create">Add Task</button>
    <button mat-button (click)="save()" [disabled]="!form.valid" *ngIf="!data.create">Update Task</button>
</div>