<header>
    <app-navbar></app-navbar>
</header>
<main class="m-container">
    <div class="mt-5">
        <h1>Keep track of your TODOs</h1>
        <div>
            <h2>Change Theme</h2>
            <mat-button-toggle-group name="theme" aria-label="Website Theme" (change)="updateTheme($event)">
                <mat-button-toggle value="light" [checked]="theme == 'light'">Light</mat-button-toggle>
                <mat-button-toggle value="dark" [checked]="theme == 'dark'">Dark</mat-button-toggle>
            </mat-button-toggle-group>
        </div>
    </div>
    <div class="tasks pt-5 pb-5">
        <div *ngIf="dataLoading" class="justify-center flex">
            <mat-spinner></mat-spinner>
        </div>
        <div *ngIf="!dataLoading">
            <div *ngIf="user === null">
                <p>Please log in to see your TODOs</p>
            </div>
            <div *ngIf="user !== null">
                <div *ngIf="errorLoadingData">
                    <p>Error Loading TODOs. Please try again</p>
                </div>
                <div *ngIf="!dataLoading && !errorLoadingData && tasks.length === 0">
                    <p>There are no TODOs to show</p>
                </div>
                <div *ngFor="let task of tasks; let i=index;" class="p-2">
                    <app-todo-tile [todo]="task" [i]="i" [id]="indices[i]"></app-todo-tile>
                </div>
            </div>
        </div>
    </div>
</main>